# data science
numpy
pandas
scikit-learn
scipy
matplotlib
pytorch-lightning
transformers

# logging
wandb


# data management
kaggle
google-cloud-storage
dvc
dvc[gdrive]

# dependency management
pipreqs

